<!-- Obtener JSON con datos de las cards -->
{{ $jsonDataCards := .Site.Data.events.cards }}
<!-- Calcular número del archivo markdown actual -->
{{ $cardNumber := "" }}
{{ with .File }}
  {{ $cardNumber = substr .ContentBaseName 6 3 }}
{{ end }}
{{ $cardData := dict }}

<!-- Obtener datos para la tarjeta con el número del archivo actual actual -->
{{ range $item := $jsonDataCards }}
  {{ if eq $item.number $cardNumber }}
    {{ $cardData = $item }}
  {{ end }}
{{ end }}
{{ $txtColor := $cardData.txtColor }}
{{ $bgColor := $cardData.bgColor }}

<!-- Lista de regalos -->
<section id="cardGiftList" 
  class="card col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-auto mb-4 d-none">
  <!-- Title -->
  <div class="card-header text-center py-2"
    style='background-color: {{ $bgColor }}; color: {{ $txtColor }}' >
    <h2 class="fs-4 fw-bold sc-font-alternative mb-0">
      {{ T "gift_list_for_this_event" }}
    </h2>
    <p class="text-center px-2 my-1">
      {{ T "choose_one_by_clicking_it" }}.
    </p>
  </div>
  <div class="card-body">

    <!-- Contenedor para lista de regalos -->
    <ul id="giftsContainer" class="list-group my-4">
    </ul>

    <!-- Container Cards: Dónde comprar los regalos -->
    <div class="text-center rounded-3 my-3 px-1 pt-3 pb-2"
      style='background-color: {{ $bgColor }}; color: {{ $txtColor }}' >
      <h1 class="fs-5 fw-semibold sc-font-alternative">
        {{ T "find_the_gifts_on_the_list_here" }}*
      </h1>
    </div>
    {{ partial "events/gift-cards.html" . }}

    <!-- Aviso Amazon Afiliados -->
    <p class="text-muted small">
      * {{ T "amazon_legal_notice_for_event" }}.
    </p>
    <!-- fin Aviso Amazon Afiliados -->

  </div>
</section>
<!-- fin de lista de regalos -->
