<!-- Anuncios -->
<section id="adsSection">
  <!-- Promoción de Tips -->
  <div id="aditionalText"
    class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-auto mb-4">
      <ul class="my-5">
        <li class="mb-4">
          {{ T "some_ideas_to_surprise_the_future_mom" }}: <br>
          <a class="fs-5 fw-medium" href="{{ relref . "unique-gifts-for-baby-shower" }}">
              {{ T "the_10_most_original_gifts_for_a_baby_shower" }}
          </a>
        </li>
        <li class="mb-4">
          {{ T "create_more_cards_like_this_at" }}: <br>
          <a class="fs-5 fw-medium" href="{{ relref . "baby-shower-app" }}">
              {{ T "baby_shower_card_maker" }}
          </a>
        </li>
      </ul>
    {{ with site.GetPage "unique-gifts-for-baby-shower" }}
      {{ if (ne .Permalink page.Permalink) }}
        {{ partial "page-snippet.html" . }}
      {{ end }}
    {{ end }}
  </div>
  <!-- fin de Promoción de Tips -->
</section>
