{{- partial "events/header.html" . -}}
<!-- Card -->
<!-- Obtener JSON con datos de las cards -->
{{ $jsonDataCards := .Site.Data.events.cards }}
<!-- Calcular número del archivo markdown actual -->
{{ $cardNumber := "" }}
{{ with .File }}
  {{ $cardNumber = substr .ContentBaseName 6 3 }}
{{ end }}
{{ $cardData := dict }}

<!-- Obtener datos para la tarjeta con el número del archivo actual actual -->
{{ range $item := $jsonDataCards }}
  {{ if eq $item.number $cardNumber }}
    {{ $cardData = $item }}
  {{ end }}
{{ end }}
{{ $txtColor := $cardData.txtColor }}
{{ $bgColor := $cardData.bgColor }}
{{ $altTextEN := $cardData.altTextEN }}
{{ $altTextES := $cardData.altTextES }}
{{ $altText := "" }}
{{ if eq .Language.Lang "es" }}
  {{ $altText = $altTextES }}
{{ else }}
  {{ $altText = $altTextEN }}
{{ end }}
{{ $imageNameSvg := printf "images/baby-shower-invitations/card-%s*.svg" $cardNumber }}
{{ $imageNameWebp := printf "images/baby-shower-invitations/card-%s*.webp" $cardNumber }}
{{ $imageSvg := resources.GetMatch $imageNameSvg }}
{{ $imageWebp := resources.GetMatch $imageNameWebp }}

<section class="card col-10 col-sm-8 col-md-5 col-xl-4 border-0 mx-auto my-4">
  <!-- Card Title -->
  <div class="card-header text-center border-0 py-3 pb-1" 
    style='background-color: {{ $bgColor }}; color: {{ $txtColor }}'>
    <h1 id="cardTitle" class="fs-4 fw-semibold sc-font-alternative mb-0">
      {{ T "join_us_for_a_baby_shower" }}</h1>
  </div>

  <!-- Card image -->
  <div class="card-body border-0 p-0">
    <picture>
      <source 
        srcset="{{ $imageSvg.RelPermalink }}" 
        type="image/svg+xml"
        width="1080" 
        height="1080">
      <img 
        class="" 
        src="{{ $imageWebp.RelPermalink }}" 
        alt='{{ $altText }}'
        width="1080" 
        height="1080"
        draggable="false" >
    </picture>
  </div>

  <!-- Card Footer -->
  <div id="cardFooter" class="card-footer text-center border-0 pt-2 pb-4"
    style='background-color: {{ $bgColor }}; color: {{ $txtColor }}'>
    <hr>
    <h2 class="card-title">
      <a class="btn btn-secondary shadow" href="{{ relref . "baby-shower-app" }}/" role="button">
        {{ T "add_a_custom_message" }}
      </a>
    </h2>
    <p class="card-text">
      {{ T "lets_create_wonderful_memories" }}.
    </p>
  </div>
</section>
<!-- fin Card -->
