<!-- Get Data -->
{{ $topic := . }}
{{ $fileName := "" }}
{{ $fileName = printf "%s%s" "carousel." page.Language.Lang }}
{{ $dataJson := index site.Data.planner $fileName }}
{{ $array := index $dataJson $topic }}
{{ with $array }}
  
  <!-- Title -->  
  <div class="mb-2">
    <span class="text-uppercase user-select-none fw-semibold ps-1">
      {{ T "quick_ideas" }}
    </span>
  </div>

  <!-- Content -->
  <div class="row row-cols overflow-x-scroll flex-nowrap g-2 sc-scroll-enable pb-3"  data-nosnippet>
  <!-- Show Data -->
  {{ $arrayLength := len $array }}
  {{ range $index, $item := $array }}
    {{ if ne $index (sub $arrayLength 1) }}
      <div class="sc-col-30percent sc-col-22percent">
        <div class="card h-100">
          <img src="{{ $item.imgSrc }}" 
            class="card-img-top" 
            alt="{{ $item.title }}"
            loading="lazy">
          <div class="card-body m-0 p-0">
          </div>
          <div class="card-footer bg-white border-top-0 px-2 pt-2 pb-3">
            <div class="card-title small fw-medium mb-1">{{ $item.title }}</div>
            <p class="card-text text-body-primary sc-fs-7">
              <a class="stretched-link text-dark fw-normal text-decoration-none" href="{{ $item.url }}" target="_blank">
                {{ $item.caption }}
              </a>
            </p>
            
          </div>
        </div>
      </div>
    {{ else }}
      <!-- View more button -->
      <div class="col-6">
        <div class="card h-100 border-0 flex-column justify-content-center align-items-center mx-auto">
          <div class="text-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
          </div>
          <div class="card-body flex-grow-0 p-0">
            <p class="card-text text-body-primary pt-2">
              <a class="stretched-link text-body text-decoration-none" href="{{ $item.url }}" target="_blank">
                <small>{{ $item.title }}</small>
              </a>
            </p>
          </div>
        </div>
      </div>
    {{ end }}        
  {{ end }}
  </div>

{{ end }}
