<!-- Get Data -->
{{ $key := . }}
{{ $fileName := "" }}
{{ $fileName = printf "%s%s" "checklist." page.Language.Lang }}
{{ $dataJson := index site.Data.planner $fileName }}
{{ $array := index $dataJson $key }}

<!-- Show data -->
{{ range $index, $value := $array }}
  <!-- Construir el id par identificar cada input -->
  <!-- Usar %s para texto y %d para enteros base 10 -->
  {{ $id := printf "%s%s%s%d" "check" $key "-" $index }}
  <div class="form-check pt-1 pb-2">
    <input id="{{ $id }}" class="form-check-input" type="checkbox">
    <label class="form-check-label ps-2" for="{{ $id }}">
      {{ $value }}
    </label>
  </div>
{{ end }}
