<!-- Get Data -->
{{ $topic := .topic }}
{{ $color := .color }} 
{{ with $color }}
{{ else }}
  {{ $color = "1" }}
{{ end }}
{{ with $topic }}
  <div class="row my-3">
    <div class="col">
      <div class="sc-widget-{{ $color }}">
          
        <!-- title -->  
        <div class="mb-3" id="{{ . }}-checklist-title">
          <span class="text-uppercase user-select-none fw-semibold">
            {{ T "to-do_list" }}
          </span>
        </div>

        <!--      Content      -->
        <!-- Se genera en cliente con JS, dentro del siguiente contenedor -->
        <!-- Ver /assets/js/apps/modules-planner/checklist.js -->
        <div id="{{ $topic }}-checklist-container" class="">
          <!-- JS busca este contendor por su id y carga aqí el contenido -->
        </div>
      </div>
    </div>
  </div>
{{ end }}
