// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/_functions";
// Icons
// $bootstrap-icons-font-dir: "../fonts";
@import "./icons";

// Import the Sass files as usual
// 2. Include an variable overrides here


// $body-color:      #5054ef;
$font-size-root:    15px;
$font-size-base:  1rem;
$h1-font-size:  1.5rem;
$h2-font-size:  $font-size-base * 1.25;
$h3-font-size:  $font-size-base * 1.125;
$h4-font-size:  $font-size-base * 1.125;
$h5-font-size:  $font-size-base * 1.1;
$h6-font-size:  $font-size-base;
$headings-font-family:    "Roboto Slab",  system-ui, sans-serif;
$font-family-sans-serif:  "Open Sans", Roboto, Helvetica, Arial, sans-serif;
// Fuentes disponibles: 
// Miracode
// Courier Prime
// Roboto Slab
// Geist Mono
// Open Sans
// Inter


// $zindex-dropdown:                   1000;
// $zindex-sticky:                     1020;
// $zindex-fixed:                      1030;
// $zindex-offcanvas-backdrop:         1040;
// $zindex-offcanvas:                  1045;
// $zindex-modal-backdrop:             1050;
// $zindex-modal:                      1055;
// $zindex-popover:                    1070;
// $zindex-tooltip:                    1080;
// $zindex-toast:                      1090;
// $zindex-offcanvas-backdrop:         1027;
// $zindex-offcanvas:                  1028;

// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

// App colors
$blue-v0:           #3e43f0;  // Blue sketchpad-v0
$app-blue:          #3C39CC;  // Blue 
$app-pink:          #FF3392;  // Deep pink
$app-white:         #f8f9fa;  // White 
$app-gray-100:      #f2f6fd;  // Lavender
$app-gray-200:      #edf3fc;  // Lavender 
$app-gray-300:      #dce7f9;  // Lavender 
$highlight:         #f4ebdd;  // Marfil
// $highlight-subtle:  #fcfbf7;  // Marfil
$highlight-subtle:  #FAF7EB;  // Marfil

// Theme colors:
$primary:       $app-blue;
$secondary:     $app-pink;
$tertiary:      $orange;  // Required
$success:       $green;   // Required
$info:          $yellow;
$warning:       $purple;
$danger:        $red;     // Required
$light:         $gray-300;
$dark:          $gray-600;
$app-bg:        $app-gray-300;
$app-bg-subtle: $app-gray-100;

// Personalización de variables: 

$enable-dark-mode:          false !default;

$body-color:            $app-blue !default;
$body-color-subtle-3:   tint-color($app-blue, 30%) !default;
$body-color-subtle-5:   tint-color($app-blue, 50%) !default;
$body-bg:               $app-bg !default;

// Some modal variables
// $modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .3;

// Style anchor elements.
$link-color:                        $primary;
$link-decoration:                   none;
$link-hover-color:                  $tertiary;
$link-hover-decoration:             underline;

// Borders
$border-color:                      $body-color !default;

// Tabs (color of navigation links in menus)
$nav-link-color:                    $body-color;
$nav-link-hover-color:              $body-color;

// Nav buttons (pills)
$nav-pills-link-active-bg:          $gray-600;

// Offcanvas para menú
$offcanvas-horizontal-width:        85vw;
// $offcanvas-vertical-height:         30vh;
$offcanvas-transition-duration:     .4s;


// 3. Include remainder of required Bootstrap stylesheets

@import "../bootstrap/scss/_variables";
@import "../bootstrap/scss/_variables-dark";


// 4. Include any default map overrides here

// Modify map color
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,  // Required
  "success":    $success,  // Required
  // "info":       $info,
  // "warning":    $warning,
  "danger":     $danger,  // Required
  "light":      $light,
  "dark":       $dark,
);

// Create map with my own colors
$shower-colors: (
  "tertiary":   $tertiary,
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $shower-colors);
$theme-colors: map-remove($theme-colors, "info", "warning");
 

// 5. Include remainder of required parts

@import "../bootstrap/scss/_maps";
@import "../bootstrap/scss/_mixins";
@import "../bootstrap/scss/root";


// 6. Optionally include any other parts as needed

@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/pagination";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/progress";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";  // cierra modales, offcanvas, etc.
@import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/popover";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/spinners";
@import "../bootstrap/scss/offcanvas";
@import "../bootstrap/scss/helpers";  // se usa para stretched links
@import "../bootstrap/scss/placeholders";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

@import "../bootstrap/scss/utilities/api";  // se usa para colors, display, align, text-, etc

// 8. Add additional custom code here


/* Fonts */
/* geist-mono-regular - latin */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/geist-mono-v4-latin-regular.woff2') format('woff2'); 
}
/* geist-mono-600 - latin */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/geist-mono-v4-latin-600.woff2') format('woff2');
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-slab-v36-latin-regular.woff2') format('woff2'); 
}
/* roboto-slab-500 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-slab-v36-latin-500.woff2') format('woff2');
}
/* roboto-slab-600 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap; 
  src: url('../fonts/roboto-slab-v36-latin-600.woff2') format('woff2');
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/roboto-slab-v36-latin-700.woff2') format('woff2');
}
/* miracod */
@font-face {
  font-family: 'Miracode';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/miracode.woff2') format('woff2');
}
/* courier-prime-regular - latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  src: url('../fonts/courier-prime-v11-latin-regular.woff2') format('woff2');
}
/* courier-prime-700 - latin */
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/courier-prime-v11-latin-700.woff2') format('woff2');
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/inter-v20-latin-500.woff2') format('woff2');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2');
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/open-sans-v44-latin-600.woff2') format('woff2');
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/open-sans-v44-latin-700.woff2') format('woff2');
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
// Color del texto seleccioando
::selection {
  background-color: tint-color($body-color, 70%); /* Color de fondo */
  color: $body-color; /* Color del texto */
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  margin: 0;
  line-height: 1.25;
  overflow-wrap: anywhere;
  text-rendering: optimizeLegibility;
  width: 100%;
  word-break: normal;
  overflow-wrap: anywhere;
}
// Scroll hasta encabezados
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 2.5em;
  font-weight: 600;
  // letter-spacing: .25px;
}
// Hipervínculos
a {
  overflow-wrap: anywhere;
  word-break: normal;
  font-weight: 500;
}
// Entradas de texto
input {
  color: $body-color !important;
}
input:-internal-autofill-selected {
  color: $body-color !important;
}
// Extender clases de Bootstrap 
.app-fs-7 {
  font-size: 0.75rem;
}
svg.bi {
    display: inline-block;
    vertical-align: -.25em;
    fill: currentcolor;
}
// Columnas para carrusel en Planner
// La acumulación de cards no llena el 100%
// para generar expectativa, revelación parcial.
@media (max-width: 575px) {
  .app-col-partial {
    flex: 0 0 auto;
    width: 30%;
  }
}
@media (min-width: 576px) {
  .app-col-partial {
    flex: 0 0 auto;
    width: 22%;
  }
}

// CARD (start)
.app-card {
  border: 1px solid $body-color;
  // border-radius: 4px;
  box-shadow: 4px 4px $body-color-subtle-5;
  padding: 1rem;
}
.app-card, .app-card * {
  background-color: $app-bg-subtle;
}
.app-card h2 {
  // text-transform: uppercase;
  font-size: .933334rem;
  // font-size: .86667rem;
  // font-family: 'Courier Prime';
  // font-weight: 700;
  margin-top: -12px;
  margin-left: -8px;
  user-select: none;
  // border-bottom: 1px dashed $body-color;
}
.app-card h2::after {
  color: $body-color-subtle-3;
  // animation: blink-animation 2s infinite; /* Apply the animation */
  content: '\2006»';
}
// CARD (end)

// SIDEBAR (start)
.offcanvas-start {
  transition: transform 400ms cubic-bezier(0.3, 0.8, 0.3, 1);
}
.app-sidebar {
  height: 95vh;  
}
// SIDEBAR (end)

// APP CHECKLIST (start)
// Checklists
.app-checklist {
  background-color: transparent;
  border-radius: 0px;
  transition-duration: .8s;
}

// List item
/* Resaltado cuando el mouse pase por encima */
.app-checklist li:has(input[type="checkbox"]):hover {
  background-color: $highlight-subtle;
  & div,
  & button,
  & i,
  & label {
    background-color: $highlight-subtle;
  }
}
// Resaltado cuando checked
.app-checklist li:has(input[type="checkbox"]:checked) {
  background-color: $app-bg;
  & div,
  & button,
  & i,
  & label {
    background-color: $app-bg;
  }
}

// Checkbox
.app-checklist input[type="checkbox"] {
  background-color: transparent;
  margin-left: -1.6em;
  cursor: pointer;
  border-radius: 50%;
  bottom: .2em;
  height: 1.2em;
  width: 1.2em;
  position: relative;
}
.app-checklist input[type="checkbox"]:focus {
  border-color: $body-color;
  outline: 0;
  box-shadow: none;  
}
.app-checklist input[type="checkbox"]:checked {
  color: $app-bg-subtle;
  background-color: $body-color;
}

// Label
.app-checklist input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 2px;
}
.app-checklist input[type="checkbox"]:checked+label {
  color: $body-color-subtle-3;
}

// Buttons
// Edit 
.app-btn-edit {
  border-color: transparent;
  border: 0px;
  color: $body-color-subtle-5;
  margin: 2px 0px 2px 12px;
  padding: 4px;
}
// Add new task
.app-btn-add {
  background-color: $app-bg-subtle;
  border-color: transparent;
  border: 0px;
  box-shadow: transparent;  
  color: $body-color-subtle-5;
  margin: 2px 0px 2px 2px;
  outline: 0;
  padding: 0px;
}
.app-checklist button.app-btn-add:active {
  background-color: $app-bg-subtle;
  border-color: transparent;
  border: 0px;
}
// APP CHECKLIST (end)
// 

// IMAGES (start)
main img {
  max-width: 100%;
  height: auto;
}
// IMAGES (end)

// UTILITIES
// Scroll bar for wider screens
@media(min-width: 576px) {

  .app-scroll-enable {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: $body-color-subtle-5 $app-bg-subtle;
    scrollbar-width: thin;
  }
}
// Blinking animation
@keyframes blink-animation {
  0% {
    opacity: 1; /* Fully visible at the start */
  }
  50% {
    opacity: 0; /* Fully transparent at 50% through the animation */
  }
  100% {
    opacity: 1; /* Fully visible again at the end */
  }
}
.blink-text {
  color: $body-color-subtle-3;
  animation: blink-animation 1.5s infinite; /* Apply the animation */
}
