<nav class="bg-white">

<!--    NAVBAR fixed bottom      -->
<div class="d-block bg-white fixed-bottom">
  <div class="navbar border-top pt-2 pb-1">
    <div class="{{ partial "container-sizes" . }}">

      <!-- BOTONES "ANTERIOR" Y "SIGUIENTE"  -->
      <div id="buttonsNavigation" class="mx-auto d-none">
        <!-- Anterior (Back) -->
        <button id="buttonBack" type="button" class="btn btn-outline-secondary btn-sm small shadow-none px-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-compact-left align-text-top" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
          </svg>
          <span class="mx-1">
            {{ T "back" }}
          </span>
        </button>
        <!-- Siguiente (Next) -->
        <button id="buttonNext" type="button" class="btn btn-secondary btn-sm small shadow ms-4 px-3" disabled>
          <span class="">
            {{ T "next" }}
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-right align-text-top" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
          </svg>
        </button>
      </div>
      <!-- Fin de botones Anterior y Siguiente -->

    </div>
  </div>
</div>
</nav>
