<!-- Screen Select -->
<!-- Obtener JSON con datos de las cards -->
<!-- {{ $jsonDataCards := shuffle .Site.Data.events.cards }} -->
{{ $jsonDataCards := sort .Site.Data.events.cards "position" }}
<section id="screenSelect"
    class="fade show">
  {{- partial "app/header.html" . -}}
  <div class="container py-3 mb-5 position-relative">
    <!-- Advertencia de javascript desactivado -->
    <noscript>
      <div class="alert alert-danger" role="alert">
        <h2>Oops!</h2>
        <hr>
        <small>
          {{ T "to_send_the_invitation" }}.
        </small>
      </div>
    </noscript>
    <!-- Encabezado -->


    <!-- Galería de tarjetas -->
    <div class="row g-1">
      <!-- Aleatorio: shuffle -->
      {{/* $images := .Resources.Match "img/*.svg" | shuffle */}}
      {{ range $index, $cardData := $jsonDataCards }}
        {{ if (eq $cardData.show "true") }}
          {{ $cardNumber := $cardData.number }}
          {{ $txtColor := $cardData.txtColor }}
          {{ $bgColor := $cardData.bgColor }}
          {{ $altTextES := $cardData.altTextES }}
          {{ $altTextEN := $cardData.altTextEN }}
          {{ $altText := "" }}
          {{ if eq $.Language.Lang "es" }}
            {{ $altText = $altTextES }}
          {{ else }}
            {{ $altText = $altTextEN }}
          {{ end }}
          {{ $btn_label := print ( T "invitation_card" ) " " $cardNumber }}
          {{ $alt := print ( T "baby_shower_invitation_with" ) " " $altText }}
          {{ $imageNameSvg := printf "images/baby-shower-invitations/card-%s*.svg" $cardNumber }}
          {{ $imageNameWebp := printf "images/baby-shower-invitations/card-%s*.webp" $cardNumber }}
          {{ $imageSvg := resources.GetMatch $imageNameSvg }}
          {{ $imageWebp := resources.GetMatch $imageNameWebp }}
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <a
              class="btn px-1 shower-card"
              href="#info" 
              role="button"
              data-card-number="{{ $cardNumber }}"
              data-card-color-bg="{{ $bgColor }}"
              data-card-color-txt="{{ $txtColor }}" >
              <!-- Header -->
              <div class="lh-1 py-0" style="background-color: {{ $bgColor }}; color: {{ $bgColor }};">
                <span class="sc-fs-7">Baby Shower Card</span>
              </div>
              <!-- Image -->
              <picture>
                <source 
                  srcset="{{ $imageSvg.RelPermalink }}" 
                  type="image/svg+xml"
                  width="300" 
                  height="300">
                <img 
                  id='{{ printf "%s%s" "cardImage-" $cardNumber }}'
                  class="user-select-none" 
                  src="{{ $imageWebp.RelPermalink }}" 
                  alt='{{ $alt }}'
                  width="300" 
                  height="300"
                  draggable="false"
                  {{ if ge $index 10 }} loading="lazy" {{ end }}>
                <!--  ...si el índice ($index) es mayor que 8: agregar lazy loading. -->
              </picture>

              <!-- Body text -->
              <div class="px-3 py-4" style="background-color: {{ $bgColor }}; color: {{ $txtColor }};">
                <p class="sc-fs-7 text-start m-0">
                  <span class="fw-semibold">
                    {{ T "date" }}: ♡♡♡♡
                  </span>
                  <br>
                  <span class="fw-semibold">
                    {{ T "place" }}: ♡♡♡♡
                  </span>
                  <br>
                  <span class="fw-semibold">
                    {{ T "message" }}: ♡♡♡♡♡
                  </span>
                </p>
              </div>
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>

    <!-- Contenido del markdown -->
    <div class="row justify-content-around py-5">
      {{ .Content }}
    </div>
  </div>
</section>
