<div class="app-card col">
  <div class="app-log">
    <h2 class="icon-none accordion-header" type="button" data-bs-toggle="collapse" data-bs-target="#app-log-panel" aria-expanded="true" aria-controls="app-log-panel">
      <span>log</span>
      <span class="icon-collapsed float-end" aria-expanded="true"><i class="bi bi-chevron-down"></i></span>
      <span class="icon-not-collapsed float-end" aria-expanded="false"><i class="bi bi-chevron-up"></i></span>
    </h2>
    <!--`<h2 class="icon-none">
      <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#app-log-panel" aria-expanded="true" aria-controls="app-log-panel">
        log
      </button>
    </h2> -->
    <div id="app-log-panel" class="collapse show">
      <div class="py-3">
        Content
      </div>
    </div>
  </div>
</div>

<!-- <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#app-log-panel" aria-expanded="true" aria-controls="app-log-panel">
        Accordion Item #1
      </button>
    </h2>
    <div id="app-log-panel" class="accordion-collapse collapse show">
      <div class="accordion-body">
        Content
      </div>
    </div>
  </div>

</div> -->
