<div class="col-12">
  <div class="app-card col">
    <h2>steps list</h2>
    <div id="checklist-container">
      <div class="tab-content" id="checklist-tabs-content">
        <div class="tab-pane fade active show" id="checklist-pending-tab-pane" role="tabpanel" aria-labelledby="checklist-pending-tab" tabindex="0">
          <ol class="app-stepslist component-type-stepslist list-group list-group-numbered">
            <li class="list-group-item p-2 d-flex align-items-start" draggable="true" data-id="">
              <div class="position-relative d-flex align-items-top flex-grow-1">
                <label class="form-check-label flex-grow-1" for="textarea-for-pending-task-1">Pending task example</label>
                <div class="d-flex flex-column ps-1 flex-grow-1 d-none"> 
                  <textarea class="form-control" data-role="inline-editor" aria-label="Edit task text" name="inline-editor" rows="1" id="textarea-for-pending-task-1">Editing (Pending task example)</textarea>
                  <div class="d-flex flex-column mt-2 small"> 
                    <a class="text-decoration-none fw-bold mt-1 mb-2 d-flex justify-content-between" href="#">
                      <span>Save</span><span class="text-muted">[Enter]</span>
                    </a>
                    <a class="text-decoration-none fw-bold mb-2 d-flex justify-content-between" href="#">
                      <span>Discard</span><span class="text-muted">[Esc]</span>
                    </a>
                    <a class="text-decoration-none fw-bold mb-2 d-flex justify-content-between" href="#">
                      <span>Delete</span><span class="text-muted">[Shift+Del]</span>
                    </a>
                    <a class="text-decoration-none fw-bold mb-2 d-flex justify-content-between" href="#">
                      <span class="app-icono">AI Fix spelling</span><span class="text-muted">[Shift+F8]</span>
                    </a>
                    <a class="text-decoration-none fw-bold mb-2 d-flex justify-content-between" href="#">
                      <span class="app-icono">AI improve writing</span><span class="text-muted">[Shift+F9]</span>
                    </a>
                    <a class="text-decoration-none fw-bold mb-2 d-flex justify-content-between" href="#">
                      <span class="app-icono">AI break down task</span><span class="text-muted">[Shift+F10]</span>
                    </a>
                  </div>
                </div>
              </div>
              <button class="btn app-btn-move" type="button" aria-label="Move" title="Move" aria-hidden="true" tabindex="-1" draggable="false">
                  <i class="bi bi-arrow-down-up" aria-hidden="true"></i>
              </button>
            </li>
            <li class="list-group-item p-2 d-flex align-items-start" data-role="new-entry" draggable="false">
              <input type="text" class="form-control" placeholder="Add new task and press Enter" aria-label="Add new task" name="Add new task">
              <button type="button" class="btn app-btn-add" title="Add new task" aria-label="Add new task">
                <i class="bi bi-plus-square-fill fs-3" aria-hidden="true">
                </i>
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
