<!-- Amazon Native Shopping Ads  -->
{{ $productos := (slice "B07DHTP9RX" "B08V5K6JHN" "B08FYKTR2K" "B08FTKM7K1" "B07MW4QW26" "B0915BXB24" "1648766595" "1594745978" "1523503181" "B00S6F2IFQ" "B08N5GDZ86" "8416429561" "312515839" "1641701307" "B00S1TRHEY" "761167900" "1519674791" "1497204402" "B004AHMCMI" "B0899D14N4" "B08ZKVY1Y8" "B08C4YMKSX" "B074HXT4W2" "B089YDVSVR" "B00A2WVU00" "B00744TMNG" "B00606OF2M" "B07ZM8WMXN" "B089ZRRVYL" "B0716YDCGJ" "B0043D28B4" "B07HYV86RH" "B07QJVHBVN" "B01GJJH580" "B00PTL15D6" "B07S4HFYVZ" "B072LF733G" "B079624FFS") }}
{{ $mezclados := shuffle $productos }}
{{ $seleccionados := first 20 $mezclados }}
{{ $texto :=  (delimit $seleccionados "," ) }}
<aside>
  <!-- Encabezado: emoji + título -->
  <hr>
  <div class="text-light fs-1 text-center mb-2">🎁</div>
  <h2 class="mt-2">
    ¿YA LO TIENES?
  </h2>

  <!-- Script generado por Amazon -->
  <!-- Cf: https://affiliate-program.amazon.com/home/ads/adcode/custom?ac-ms-src=ac-nav -->
  <script type="text/javascript">
  amzn_assoc_placement = "adunit0";
  amzn_assoc_tracking_id = "productos-recomendados-20";
  amzn_assoc_ad_mode = "manual";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_linkid = "90459a0a98533799564cdcc74688fd10";
  amzn_assoc_asins = {{ $texto }};
  amzn_assoc_search_bar = "true";
  amzn_assoc_title = "Productos seleccionados de Amazon.com*";
  </script>
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

  <!-- Nota obligatoria según normas de Amazon -->
  <div class="text-muted small">
    * Hemos seleccionado cuidadosamente estos productos para recomendarte. Y queremos avisarte que en calidad de Afiliados de Amazon, obtenemos ingresos por las compras adscritas que cumplen los requisitos aplicables.
  </div>
</aside>
