<!-- Modal -->
{{ $pathDir := path.Dir .CurrentSection }}
{{ $containsEvent := strings.Contains $pathDir "event" }}
{{ if not $containsEvent }}
  <div id="modalCookieConsent"
    class="modal fade"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalCookieConsentLabel"
    aria-hidden="false">
    <div class="modal-dialog position-absolute bottom-0 end-0 me-sm-5">
      <div class="modal-content">
        <div class="modal-header py-1">
          <span id="modalCookieConsentLabel" class="modal-title fw-bold fs-4">{{ T "use_of_cookies" }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-1">
          <small>
            {{ T "we_use_cookies_to" }}
          <a class="fw-bold text-body" href="{{ relref . "privacy-policy" }}" target="_blank">
              {{ T "cookies_policy" }}.
          </a>
            {{ T "if_you_go_on_surfing" }}.
          </small>
        </div>
        <div class="modal-footer">
          <button id="modalCookieConsentAcept" 
            type="button" 
            class="btn btn-secondary text-body fw-medium ms-3">{{ T "sure_im_in" }}</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
