{{ define "main" }}
<div class="container p-0">
  <div class="row g-0 overflow-y-hidden mx-0 vh-100">
    <nav class="offcanvas-md offcanvas-start col-5 col-lg-4 col-xl-3 m-0 h-100" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="sideMenu" aria-label="Side Menu">
      <div class="app-sidebar app-scroll-enable app-card m-3">
        <div class="offcanvas-header p-1">
          <a class="btn d-block ms-auto px-0" role="button" data-bs-dismiss="offcanvas" data-bs-target="#sideMenu" aria-label="Close">
            <i class="bi bi-arrow-bar-left fs-1 me-2"></i>
          </a>
        </div>
        <div class="offcanvas-body p-1">
          <menu id="app-root" class="list-group list-group-flush fw-bold col-12 mt-0">
            <li class="list-group-item list-group-item-action border border-0">
              <a href="/#lista-1" class="text-decoration-none text-body">
                <i class="bi bi-check-circle fs-4"></i>
                <span class="ms-2 stretched-link">Lista 1</span>
              </a>
            </li>
            <li class="list-group-item list-group-item-action border border-0">
              <a href="/#lista-2" class="text-decoration-none text-body">
                <i class="bi bi-check-circle fs-4"></i>
                <span class="ms-2 stretched-link">Lista 2</span>
              </a>
            </li>
            <li class="list-group-item list-group-item-action border border-0">
              <a href="/#lista-3" class="text-decoration-none text-body">
                <i class="bi bi-check-circle fs-4"></i>
                <span class="ms-2 stretched-link">Lista 3</span>
              </a>
            </li>
            <li class="list-group-item list-group-item-action border border-0">
              <a href="/#lista-4" class="text-decoration-none text-body">
                <i class="bi bi-check-circle fs-4"></i>
                <span class="ms-2 stretched-link">Lista 4</span>
              </a>
            </li>
          </menu>
        </div>
      </div>
    </nav>
    <main id="app-main" class="col col-sm-11 col-md-7 col-lg-8 col-xxl-7 mb-3 p-0">
      <header class="user-select-none sticky-top p-3 pe-lg-0">
        <div class="app-card col p-3 py-1">
          <div class="navbar align-items-center">
            <a class="btn d-block d-md-none ps-0" role="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu" aria-label="Side menu button">
              <i class="bi bi-layout-text-sidebar-reverse fs-1"></i>
            </a>
            <h1 id="app-title" class="app-title fs-3 me-auto">qsp&ensp;<span class="fw-normal fs-4">−fiesta de cumpleaños</span></h1>
          </div>
        </div>
      </header>
      <section class="app-scroll-enable overflow-y-auto p-3 vh-100">
        <div class="row g-4">
          <div id="app-container-1" class="col-12 col-lg-6">
            <div class="row g-4">
              <div class="col-12">
                {{ partial "app/dashboard" . }}
                {{/* .Content */}}
              </div>
              <div class="col-12">
                {{ partial "app/checklist" . }}
              </div>
            </div>
          </div>
          <div id="app-container-2" class="col-12 col-lg-6">
            <div class="row g-4">
              <div class="col-12">
                {{ partial "app/summary" . }}
              </div>
              <div class="col-12">
              </div>
              <div class="col-12">
              </div>
            </div>
          </div>
        </div>
        <div class="row my-5 py-5"><br>
        </div>
      </section>
    </main>
  </div>
</div>
{{ end }}

