{{ define "main" }}
<div class="container p-0">
  <div class="row g-0 overflow-y-hidden mx-0 vh-100">
    {{ partial "sidebar" . }}
    <main id="app-main" class="col col-sm-11 col-md-7 col-lg-8 col-xxl-7 mb-3 p-0">
      <header class="user-select-none sticky-top p-3 pe-lg-0">
        <div class="app-card col p-3 py-1">
          <div class="navbar align-items-center">
            <a class="btn d-block d-md-none ps-0" role="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu" aria-label="Side menu button">
              <i class="bi bi-layout-text-sidebar-reverse fs-1"></i>
            </a>
            <h1 id="app-title" class="app-icono fs-3 me-auto">qsp&ensp;<span class="fw-normal fs-4">−tester</span></h1>
          </div>
        </div>
      </header>
      <section class="app-scroll-enable overflow-y-auto p-3 vh-100">
        <div class="row g-4">
          <div class="col-12 col-lg-6">
            <div class="row g-4">
              {{ partial "app/schedule" . }}
              {{ partial "app/stepslist" . }}
              {{ partial "app/checklist" . }}
              {{ partial "app/guestslist" . }}
              {{ partial "app/supplieslist" . }}
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="row g-4">
            </div>
          </div>
        </div>
        <div class="row my-5 py-5"><br>
        </div>
      </section>
    </main>
  </div>
</div>
{{ end }}

